@font-face {
  font-family: 'SEGA';
  src: url('fonts/SEGA.eot');
  src: url('fonts/SEGA.eot?#iefix') format('embedded-opentype'),
       url('fonts/SEGA.svg#SEGA') format('svg'),
       url('fonts/SEGA.ttf') format('truetype'),
       url('fonts/SEGA.woff') format('woff'),
       url('fonts/SEGA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.page-header {
    background-color: #b71c1c;
    padding: 20px 20px 20px 450px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'sega';
}

.content {
    margin-left: 612px;
    width: 350px;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    font-size: 28pt;
    color: #000000;
}

.post h1{
	margin-top: 0px;
	margin-bottom: 0px;
}

